#projectFiles{
	display: block;
	margin: auto;
	width: 70%;
	height: 600px;
	border: 2px solid black;
	margin-bottom: 3%;
	background-color: #6eceb2;
}

#fallProject{
	display: block;
	margin: auto;
	width: 80%;
	height: 600px;
	border: 2px solid black;
	margin-bottom: 3%;
	margin-top: 3%;
	background-color: #6eceb2;
}