
nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color:  #01426a;
}

nav li{
	float: left;
	width: 20%;
}

nav li a{
	display: block;
	color: white;
	text-align: center;
	padding: 7%; 
	text-decoration: none;
}

nav li a:hover{
	background-color: #01204a;
}

.footerInfo{
	display: inline-block;
}

#location{
	position: absolute;
	right: 0px;
	padding-right: 10px;
}

#dateAndTime{
	position: absolute;
	padding-left: 5px;
}
.locationInfo{
	text-align: center;
}

#sanCarlos{
	font-size: 110%;
}

footer{
	border-top: 2px solid black;
}


